<div class="education_container">
    <div class="ed">
    <h2>Education</h2>
    <div class="grid_container">

            <div class="school">
                <div class="logo"><img src="../../assets/images/uom_logo.png" alt="University of Moratuwa"/></div>
                <div class="title">University of Moratuwa</div>
                <div class="duration">2021-Present</div>
                <div class="info">BSc(Hons). in Information Technology</div>
            </div>


            <div class="school">
                <div class="logo"><img src="../../assets/images/rcp_logo.png" alt="Royal College Polonnaruwa"/></div>
                <div class="title">Royal College Polonnaruwa</div>
                <div class="duration">2017-2019</div>
                <div class="info">Studied GCE A/L on Common Stream (Com. Maths, Physics, ICT)</div>
            </div>


            <div class="school">
                <div class="logo"><img src="../../assets/images/tmv_logo.png" alt="Thopawewa Maha Vidyalaya Polonnaruwa"/></div>
                <div class="title">Thopawewa Maha Vidyalaya Polonnaruwa</div>
                <div class="duration">2011-2016</div>
                <div class="info">Studied upto GCE O/L </div>
            </div>

    </div>
</div>
</div>