.education_container{
    padding-top: 12vh; /* Add padding to create space between component and navigation bar */
    justify-items: center;
    display: grid;
    height: fit-content;
    
}

.ed{
    
    background-color: #EAEAEA;
    text-align: center;
    border-radius: 50px;
    height: fit-content;
    padding: 6vh 5vh 5vh 4vh;

}

.ed h2{
    font-size: 2vw;
    font-weight: normal;
}

.grid_container{
    margin-top: 5vh;
    width: 60vw;
    height: fit-content;
    display: grid;
    gap: 5vh;
    grid-template-columns: auto ;
    align-items: center;   
    
}


.school{

    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-areas: "a b "
                         "a c "
                         "a d ";
    justify-content: center;                     
    align-items: center;

    text-align: left;

    
                         
}

.logo img{
    padding: 5px;
    max-height: 15vh;  
    width: 15vh;
    background-color: white;
    border-radius: 20px;
    border: solid;
    border-width: 0.1vh;
}

.logo{
    grid-area: a;
    text-align: right;
    margin-right: 2vw;
    /* height: 15vh;
    width:15vh; */

}

.title{
    grid-area: b;
    font-size: 1.2vw;
    font-weight: 300;
    
}

.duration{
    grid-area: c;
    font-size: 1vw;
    font-weight: 230;
    align-self: end;
}

.info{
    grid-area: d;
    font-size: 1vw;
    font-weight: 230;
    align-self: start;
}