<div class="about_container">
    <div class="about">
        <div class="about_grid">
            <div class="about_grid_item"> <h3>Who Am I?</h3> </div>
            <div class="about_grid_item">
            <p class="description">
                I'm Shakila Kaushal Bandara, a passionate and skilled 22-year-old IT undergraduate from the University of Moratuwa. 
                I am dedicated to achieving my goals through smart work and eagerly embrace challenges. 
                As a responsible team player with adaptability, I thrive in collaborative environments and value the power of teamwork.
            </p>
            <p class="description">
                Currently, I am seeking a software engineer intern role to apply and explore existing and emerging technologies in the field of Information Technology. 
                I envision myself as an enthusiastic and motivated individual who is ready to contribute to innovative projects. 
                In my free time, I indulge in activities such as listening to music, watching anime, and occasionally playing games. 
                Additionally, my passion for photography drives me to capture captivating moments. 
                I actively participate as a member in both MoraSpirit and MoraLenz, while also pursuing freelance photography at Expose Photography.
            </p>
            <p class="description">
                Through my experiences and dedication, I am poised to contribute my skills and knowledge to a software engineering team while continuously learning and growing in the dynamic IT industry.
            </p>
        </div>
        </div>
    </div>

    <div class="slideshow">
        <div class="about_grid">
            
        </div>
    </div>
</div>