.about_container{
    padding-top: 5vh; 
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center; /* Horizontally center the items */
    align-items: center; /* Vertically center the items */
    height: fit-content;

}

.about, .slideshow{
    margin-top: 8%;
}

.about_grid{
    background-color: #EAEAEA;
    /* min-height: 80vh; */
    height: auto;
    width: 045vw;
    border-radius: 50px; 
    justify-items: center; /* Horizontally center the items */
    align-items: center; /* Vertically center the items */
    padding: 8vh 5vh 5vh 5vh;
    text-align: center;                
}

.dark.about_grid{
    background-color: #343642;
    color: #E6E6E6;

}

.about_grid_title{
    padding: 10px;
    font-size: 2vw;
    font-weight: normal;
}

.about_grid_item{
    padding: 10px;
    font-size: 1vw;
    text-align: justify;
}

.about_grid_item p{
    font-weight: 230;
}

.slideshow{
    
    min-height: 80vh;
    height: auto;
    width: 33vw;
    border-radius: 10px;
    justify-items: center;
    align-items: center; 

    display: flex;
    align-items: center; 
    justify-content: center;

    overflow: hidden;

}

.h3{
    font-weight: 100;
}

.description{
    font-size: 1.2em;
    font-weight: 300;
}

.picsum-img-wrapper {
    height: 100%; /* Set the height to inherit from the parent */
  }

.picsum-img-wrapper img{
    border-radius: 5px;
    max-width: 100%; /* Ensure the image doesn't exceed its original width */
    max-height: 100%; /* Ensure the image doesn't exceed the container's height */
    width: auto; /* Allow the image to resize its width while maintaining aspect ratio */
    height: auto; /* Allow the image to resize its height while maintaining aspect ratio */
}