<div class="about_container">
    <div class="about">
        <div #aboutRef class="about_grid">
            <div class="about_grid_item"> <h3>Who Am I?</h3> </div>
            <div class="about_grid_item">
            <p class="description">
                I'm Shakila Kaushal Bandara, a passionate and skilled 22-year-old IT undergraduate from the University of Moratuwa. 
                I am dedicated to achieving my goals through smart work and eagerly embrace challenges. 
                As a responsible team player with adaptability, I thrive in collaborative environments and value the power of teamwork.
            </p>
            <p class="description">
                In my free time, I indulge in activities such as listening to music, watching anime, and occasionally playing games. 
                Additionally, my passion for photography drives me to capture captivating moments. 
                I actively participate as a member in both <a href="https://www.moraspirit.com/" target="_blank">MoraSpirit</a> 
                and <a href="https://moralenz.lk/" target="_blank">MoraLenz</a> at University of Moratuwa, while also pursuing freelance photography at 
                <a href="https://www.facebook.com/exposephotographylk" target="_blank">Expose Photography</a>.
            </p>
            <p class="description">
                Through my experiences and dedication, I am poised to contribute my skills and knowledge to a software engineering team while continuously learning and growing in the dynamic IT industry.
            </p>
        </div>
        </div>
    </div>

    <div #imageRef class="slideshow">
        

            <ngb-carousel *ngIf="images">
                <ng-template ngbSlide *ngFor="let image of images">
                    <div class="picsum-img-wrapper">
                        <img [src]="image" alt="Image">
                    </div>
                </ng-template>
            </ngb-carousel>

        
    </div>
</div>