.projects_container{
    padding-top: 7vh; /* Add padding to create space between component and navigation bar */
    justify-items: center;
    display: grid;
    height: fit-content;
}

.projects{
    /* background-color: #EAEAEA; */
    text-align: center;
    border-radius: 50px;
    height: fit-content;
    padding: 6vh 5vh 5vh 4vh;
}

.projects h2{
    font-size: 2vw;
    font-weight: normal;
}

.grid_container{
    margin-top: 5vh;
    height: fit-content;
    width: 80vw;
    display: grid;
    grid-template-columns: auto auto; 
    border-radius: 50px;
    place-content: center;
    gap: 5vw;
}

.grid_item{
    width: 30vw;
    height: 43vh;
    justify-content: center;                     
    align-items: center;

    text-align: left;
    border-radius: 50px;
    background-color: #EAEAEA;
    padding: 5vh 3vw 5vh 3vw;

}

.item_title{
    font-size: 1.4vw;
    font-weight: 400;
    text-align: left;
    height: 4vh;
}

.role{
    font-size: 1.2vw;
    font-weight: 320;
    margin-top: 2vh;
    height: 3vh;

}

.description{
    font-size: 1.2vw;
    font-weight: 300;
    margin-top: 2vh;
    height: 13vh;
}

.logo{
    margin-top: 4vh;
    display: flex;
    height: 5vh;
}

.logo img{
    margin-right: 1vw;
}