<div class="projects_container">
    <div class="projects">
        <h2>Projects</h2>
        <div class="grid_container">
                <div class="grid_item">
                    <div class="item_title">
                        Portfolio Website
                    </div>
                    <div class="role">
                        Role: Full Stack Developer
                    </div>
                    <div class="description">
                        My personal portfolio website (this website), developed with angular 16 and hosted on google firebase service.
                    </div>
                    <div class="logo">
                        <img src="../../assets/images/angular.png" alt="Angular 16">
                        <img src="../../assets/images/firebase.png" alt="Google Firebase">
                    </div>
                </div>
                <div class="grid_item">
                    <div class="item_title">
                        Salary Management System (Ongoing)
                    </div>
                    <div class="role">
                        Role: Full Stack Developer
                    </div>
                    <div class="description">
                        A salary/employee management system for a small company that assigns people to different work sites. Uses Angular, SpringBoot and MySql for development.
                    </div>
                    <div class="logo">
                        <img src="../../assets/images/angular.png" alt="Angular 16">
                        <img src="../../assets/images/springboot.png" alt="SpringBoot">
                        <img src="../../assets/images/mysql.png" alt="MySql">
                    </div>
                </div>
                <div class="grid_item">
                    <div class="item_title">
                        EduLabs
                    </div>
                    <div class="role">
                        Role: Team Leader, Full Stack Developer
                    </div>
                    <div class="description">
                        My second year group project for university. A student/employee management system for a private educational institute. Developed using Angular, SpringBoot and MySql.
                    </div>
                    <div class="logo">
                        <img src="../../assets/images/angular.png" alt="Angular 16">
                        <img src="../../assets/images/springboot.png" alt="SpringBoot">
                        <img src="../../assets/images/mysql.png" alt="MySql">
                    </div>
                </div>
                <div class="grid_item">
                    <div class="item_title">
                        Automated Grain Drying Machine
                    </div>
                    <div class="role">
                        Role: IoT Developer
                    </div>
                    <div class="description">
                        My first year hardware project for university. An automated drying machine that can dry any grain to a given temperature and dispose by weight for packeting.
                    </div>
                    <div class="logo">
                        <img src="../../assets/images/C.png" alt="C">
                        <img src="../../assets/images/microchip_studio.png" alt="Microchip Studio">
                        <img src="../../assets/images/proteus.png" alt="Proteus">
                        <img src="../../assets/images/kicad.png" alt="Kicad">
                        <img src="../../assets/images/blender.png" alt="Blender">
                        <img src="../../assets/images/autocad.png" alt="AutoCad">
                    </div>
                </div>
        </div>
    </div>
</div>
