.contact_container{
    padding-top: 7vh; /* Add padding to create space between component and navigation bar */
    justify-items: center;
    display: grid;
    height: fit-content;
}

.contact{
    /* background-color: #EAEAEA; */
    text-align: center;
    border-radius: 50px;
    height: fit-content;
    padding: 6vh 5vh 3vh 4vh;
}

.dark.contact_container{
    color: #E6E6E6;
}

.contact h2{
    font-size: 2vw;
    font-weight: normal;
    
}

.description{
    text-align: center;
    width: 30vw;
    font-size: 1.3vw;
    font-weight: 320;
    
}

.links{
    display: flex;
    margin: 1vh;
}

.linkItem{
    flex: 1;
    padding: 15px;
    font-size: 2vw;
    transition: transform 0.3s ease;
    
}

.linkItem:hover{
    cursor: pointer;
    color: skyblue;
    transform: scale(1.3);
}

a {
    color: inherit;
    text-decoration: none;
  }

.form_area{
    display: grid;
    place-items: center;
    grid-template-columns: auto;
}

.field{
    display: grid;
    grid-template-columns: auto;
    width:30vw;
    margin-bottom: 3vh;
}

.send{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send button{
    width: 8vw;
}

.input{
    height: 5vh;
}

.textarea{
    height: 15vh;
}