.technologies_container{
    padding-top: 7vh; /* Add padding to create space between component and navigation bar */
    justify-items: center;
    display: grid;
    height: fit-content;
}

.skills{
    /* background-color: #EAEAEA; */
    text-align: center;
    border-radius: 50px;
    height: fit-content;
    padding: 6vh 5vh 5vh 4vh;
}

.skills h2{
    font-size: 2vw;
    font-weight: normal;
}

.grid_container{
    margin-top: 5vh;
    width: 60vw;
    height: fit-content;
    display: grid;
    gap: 5vh;
    grid-template-columns: auto ;
    align-items: center;   
    padding: 5vh;

    background-color: #EAEAEA;
    border-radius: 50px;
}


.grid_item{

    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-areas: "a b "
                         "a c "
                         "a d ";
    justify-content: center;                     
    align-items: center;

    text-align: left;
                     
}

.item_title{
    font-size: 1.2vw;
    font-weight: 300;
    text-align: center;
}

.logo{
    height: 4vw;
    margin-right: 2vw;
}



.slider{
    height: 7vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 54vw;
    overflow: hidden;
}

@keyframes scroll_fill {
    0% {
        transform: translateX(100%);
      }
    100%{
        transform: translateX(0%);
    }
}

@keyframes scroll {
    100%{
        transform: translateX(-50%);
    }
}

.slider .slide_track{
    animation: scroll 10s linear infinite;
    display: flex;
    width: fit-content;

}

.slider .slide{
    height: 4vw;
    
}
.slide img{
    height: 4vw;
    margin-right: 2vw;
}
