.toggle_view{
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    height: 56px;
}

.navigation_container{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    width: 100vw;
    height: 56px;
    background-color: #EAEAEA;

    box-shadow: 0 0 10px 5px #909090;

    z-index: 3;
    
}

.dark.navigation_container{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    width: 100vw;
    height: 56px;
    background-color: black;
    color: white;

    box-shadow: none;
}

.navBar{
    display: flex;
}

.flexItem{
    flex: 1;
    padding: 15px 20px 15px 20px;
    
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.flexItem:hover{
    animation-delay: 5ms;
    background-color: lightgreen;
}

.components_container {
    min-height: 100vh;
    height: auto;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
.component-container {
    min-height: 100vh; /* Ensure each component takes up the full viewport height */
    scroll-margin-top: 7vh; /* Add margin when scrolling to top of component */
  }