.toggle_view{
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    height: 56px;
}

.navigation_container{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    width: 100vw;
    height: 56px;
    background-color: #EAEAEA;

    box-shadow: 0 0 10px 5px #909090;

    z-index: 3;
    
}

.dark.navigation_container{
    background-color: #16191C;
    /* background-color: #131416; */
    box-shadow: none;
}

.navBar{
    display: flex;
}

.flexItem{
    flex: 1;
    padding: 1vw 1vh 1vw 1vh;
    width: 8vw;
    text-align: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 1vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.flexItem:hover{
    animation-delay: 5ms;
    background-color: lightgreen;
}
.dark.navigation_container .flexItem{
    color: white;
}
.dark.navigation_container .flexItem:hover{
    background-color: #093076;
}

.components_container {
    min-height: 100vh;
    height: auto;
    overflow-y: auto; /* Enable vertical scrolling */
  }

.dark.components_container{
    background-color: #1B1F23;
}
  
.component-container {
    min-height: 100vh; /* Ensure each component takes up the full viewport height */
    scroll-margin-top: 7vh; /* Add margin when scrolling to top of component */
  }

.footer{
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center;
    height: 8vh;
}


.dark.footer{
    background-color: #1B1F23;
    color: #EAEAEA;
}

@media (max-width: 768px) {
    .navigation_container{
        height: 50px;
    }

    .toggle_view{
        height: 50px;
    }

    .flexItem{
        flex: 1;
        padding: 1vw 1vh 1vw 1vh;
        width: 14vw;
        font-size: 2vw;
    }

    .component-container {
        min-height: 1vh;
      }

    .footer{
        font-size: 3vw;
    }
  }