<div class="home_container">
    <div class="title"><label>Hello! I'm</label></div>
    <div class="body"><label class="glitch" data-text="Shakila Bandara">Shakila Bandara</label></div>
    <div class="whoAmI"><label>Information Technology Undergraduate</label></div>
    <div class="links">
        <div class="linkItem"><a href="https://www.linkedin.com/in/shakila-bandara/" target="_blank"><i class="bi bi-linkedin"></i></a></div>
        <div class="linkItem"><a href="https://github.com/Shakila-K" target="_blank"><i class="bi bi-github"></i></a></div>
        <div class="linkItem"><a href="https://www.facebook.com/shakila.bandara.96" target="_blank"><i class="bi bi-facebook"></i></a></div>
        <div class="linkItem"><a href="https://www.instagram.com/__shakila_k__/" target="_blank"><i class="bi bi-instagram"></i></a></div>
        <div class="linkItem"><a href="https://wa.me/94717849009" target="_blank"><i class="bi bi-whatsapp"></i></a></div>
        <div class="linkItem"><a href="https://discord.com/users/shakila_kb" target="_blank"><i class="bi bi-discord"></i></a></div>
        <div class="linkItem"><a href="https://steamcommunity.com/profiles/76561198451987305/" target="_blank"><i class="bi bi-steam"></i></a></div>
    </div>
</div>